@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.transition-ease {
  @apply transition-all ease-in-out duration-300;
}

.button {
  @apply hover:bg-blue-950/70 hover:cursor-pointer transition-ease rounded-lg bg-blue-950 shadow-blue-950/30 shadow-md text-white disabled:bg-gray-600 disabled:shadow-sm disabled:cursor-not-allowed;
}

.link {
  @apply hover:text-blue-950/70 hover:cursor-pointer transition-ease;
}

.delete-button {
  @apply hover:bg-red-500/70 hover:cursor-pointer transition-ease rounded-lg bg-red-600 shadow-md text-white disabled:bg-gray-400 disabled:shadow-sm disabled:cursor-not-allowed;
}

.button-outline {
  @apply hover:bg-gray-300/30 hover:cursor-pointer border border-gray-500/60 transition-ease rounded-lg shadow-md disabled:bg-gray-400 disabled:shadow-sm disabled:cursor-not-allowed;
}

/* Dot loader */
.dots {
  width: 13.4px;
  height: 13.4px;
  background: #673de6;
  color: #673de6;
  border-radius: 50%;
  box-shadow: 13.4px 0,-26.9px 0;
  animation: dots-h5boszmd 0.5s infinite linear alternate;
}

@keyframes dots-h5boszmd {
  50% {
     box-shadow: 13.4px 0,-13.4px 0;
  }

  100% {
     box-shadow: 26.9px 0,-13.4px 0;
  }
}